.ten_data_box {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px 100px 0px;
}

.ten_data_content {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.ten_data_text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ten_content_box {
  width: 100%;
  padding: 23px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  animation: slideUp 0.4s ease-out;
}

.ten_logo {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.ten_content_box p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.under_arrow {
  transform: rotate(270deg);
  /* transform: translateY(-50%) rotate(270deg); */
  width: 22px;
  height: 22px;
  cursor: pointer;
}



@media (min-width: 768px) and (max-width: 1440px) {
  .ten_data_content {
    width: 95%;
    height: auto;
  }

  .ten_content_box {
    width: auto;
  }

}

@media (max-width: 767px) {
  .ten_data_box p {
    font-size: 30px;
  }

  .ten_data_content {
    width: 95%;
    padding: 20px;
  }
  .ten_content_box{
  padding: 20px;
  width: auto;
  }
  .ten_content_box p {
    padding: 0px;
    font-size: 15px;
    text-align: left;
  }
  .ten_logo{
    width: 20px;
    height: 20px;
  }
  .ten_data_box {
    padding: 60px 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}